.btn:focus {
  outline: none;

}

.btn {
    border:  none;
    outline: white 1px;
       border-radius: 10px;
       padding: 1px;
       margin: 1px;
}



.saveform {
  text-color:blue;
  width: 200px;
}

h1{
  color: black;
  text-align: left;
}

.intrologo{
   font-family: helvetica;
  font-size: 5em;
  font-weight: bold;
  margin-bottom: 0;


}

.board{
  width: 100%;
  min-width: 550px;
  margin: 0 auto;
  text-align: center;
}

button{
  background-color: white;
  border: none;
   /*margin: 0 auto;*/
}
/*
#submitButton{
  height: 40px;
}*/

.buttonWrapper{
  margin: 1.5em 2.5em 1em;
}
.buttonWrapper:focus {
  outline: none;
}

.buttonWrapper button{
  outline: none;
}

input[type=submit] {
sd    /* margin-left: 400px; */
    background-color: none;
    margin-top: 4px;
    max-height: 50px;
    padding: 0px 10px;
    font-size: 1em;
    /* background: #ccc; */
    cursor: pointer;
    background: none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: black solid 2px;
    height: 2em;
}

input[type=text] {
    width:250px;
/*    margin-left:400px;*/
    height: 37px;
    font-size: 16px;
    padding:5px 10px; 
    background:none; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

select {
    width:250px;
    height: 40px;
    font-size: 20px;
    /*margin-left:400px;*/
    margin-bottom: 5px;
    padding:5px 10px; 
    background:none; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
  }

  .activeCol {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/White_dot.svg/2000px-White_dot.svg.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center center;
  }